
<i.bx class=`${ input.bxs || input.bxl ? input.bxs ? 'bxs' : 'bxl' : 'bx' }-${input.type} ${input.class}` 
    style=input.style
    title=input.title
    on-click( () => component.emit('click') )></i>
