class {
  onCreate(){ this.state = { collapsed: false } }
  onCollapse(){ this.state.collapsed = !this.state.collapsed }
}

<div.nav-li.px-1.py-50 on-click('onCollapse')>
  <String.font-medium-1 text=input.title/>
  <Bx.font-medium-5.float-right type=`chevron-${state.collapsed ? 'down' : 'right'}`/>
</div>

<if( state.collapsed )>
  <div.py-50.animated.fadeIn style="padding-left:2rem">
    <Nav path=input.path map=input.subs/>
  </div>
</if>